<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Online Course</title>

<!-- Google fonts-->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}"
	integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2Lw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- CSS files -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/style.default.7acfaf01.css}">
<link rel="stylesheet" th:href="@{/assets/css/custom.0a822280.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/templatemo-space-dynamic.css}">

</head>


<body>
	<!-- ***** Header Area Start ***** -->
	<div th:insert="~{decorators/headers :: header}"></div>
	<!-- ***** Header Area End ***** -->

<style>
.form-control-custom {
	display: block;
	width: 80%;
	padding: 0.2rem 0.6rem;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 4px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>


	<!-- Hero Section-->
	<section class="hero pt-7">
		<div class="container">
			<!-- Breadcrumbs -->
			<ol class="breadcrumb justify-content-left">
				<li class="breadcrumb-item"><a
					href="index.html"> <i class="fas fa-home"></i>Trang chủ</a></li>
				<li class="breadcrumb-item active">Giỏ hàng</li>
			</ol>

			<!-- Shopping Cart Section-->
			<section>
				<div class="container">
					<div class="row mb-5">
						<div class="col-lg-8">
							<div class="cart">
								<div class="cart-wrapper">
									<div class="cart-header text-left">
										<div class="row">
											<div class="col-7">Item</div>
											<div class="col-2 text-center">Quantity</div>
											<div class="col-2 text-center cart-title">Price</div>
											<div class="col-1"></div>
										</div>
									</div>
									<div>
										<!-- Product-->
										<div class="cart-item">
											<div class="row d-flex align-items-center text-center">
												<div class="col-7">
													<div class="d-flex align-items-center">
														<a href="detail.html"><img class="cart-item-img"
															src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/product/product-square-ian-dooley-347968-unsplash.jpg"
															alt="..."></a>
														<div class="cart-title text-start">
															<a class="text-uppercase text-dark" href="detail.html"><strong>Skull
																	Tee</strong></a><br>
														</div>
													</div>
												</div>
												<div class="col-2">
													<div class="d-flex align-items-center">
														<input class="form-control-custom text-center input-items"
															value="1" readonly />
													</div>
												</div>
												<div class="col-2 text-center">$260.00</div>
												<div class="col-1 text-center">
													<a class="cart-remove" href="#"> <i class="fa fa-trash"
														aria-hidden="true"></i></a>
												</div>
											</div>
										</div>
										<!-- Product-->
										<div class="cart-item">
											<div class="row d-flex align-items-center text-center">
												<div class="col-7">
													<div class="d-flex align-items-center">
														<a href="detail.html"><img class="cart-item-img"
															src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/product/product-square-kyle-loftus-596319-unsplash.jpg"
															alt="..."></a>
														<div class="cart-title text-start">
															<a class="text-uppercase text-dark" href="detail.html"><strong>Transparent
																	Blouse</strong></a><br>
														</div>
													</div>
												</div>
												<div class="col-2">
													<div class="d-flex align-items-center">
														<input class="form-control-custom text-center input-items"
															value="1" readonly />
													</div>
												</div>
												<div class="col-2 text-center">$165.00</div>
												<div class="col-1 text-center">
													<a class="cart-remove" href="#"> <i class="fa fa-trash"
														aria-hidden="true"></i>
													</a>
												</div>
											</div>
										</div>
										<!-- Product-->
										<div class="cart-item">
											<div class="row d-flex align-items-center text-center">
												<div class="col-7">
													<div class="d-flex align-items-center">
														<a href="detail.html"><img class="cart-item-img"
															src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/product/product-square-serrah-galos-494312-unsplash.jpg"
															alt="..."></a>
														<div class="cart-title text-start">
															<a class="text-uppercase text-dark" href="detail.html"><strong>White
																	Tee</strong></a><br>
														</div>
													</div>
												</div>
												<div class="col-2">
													<div class="d-flex align-items-center">
														<input class="form-control-custom text-center input-items"
															value="1" readonly />
													</div>
												</div>
												<div class="col-2 text-center">$165.00</div>
												<div class="col-1 text-center">
													<a class="cart-remove" href="#"><i class="fa fa-trash"
														aria-hidden="true"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="block mb-5">
								<div class="block-header">
									<h6 class="text-uppercase mb-0">Đơn hàng của bạn:</h6>
								</div>
								<div class="block-body bg-light pt-1">
									<ul class="order-summary mb-0 list-unstyled">
										<li class="order-summary-item"><span>Giá trị đơn
												hàng:</span><span>$390.00</span></li>
										<li class="order-summary-item"><span>Khuyến mãi</span><span>$0.00</span></li>
										<li class="order-summary-item border-0"><span>Tổng
												tiền:</span><strong class="order-summary-total">$400.00</strong></li>
									</ul>

									<a class="btn btn-dark d-block mt-4 mb-4" href="checkout1.html">Tiến
										hành thanh toán<i class="fa fa-chevron-right"></i>
									</a>

								</div>
							</div>
						</div>
					</div>
					<div
						class="my-5 d-flex justify-content-between flex-column flex-lg-row">
						<a class="btn btn-link text-muted" th:href="@{/category}"><i
							class="fa fa-chevron-left"></i> Quay lại trang khóa học</a>
					</div>
				</div>
			</section>
		</div>
	</section>


	<!-- ***** Footer Area Start ***** -->
	<div th:insert="~{decorators/footers :: footer}"></div>
	<!-- ***** Footer Area End ***** -->

	<!-- Scripts -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/owl-carousel.js}"></script>
	<script th:src="@{/assets/js/animation.js}"></script>
	<script th:src="@{/assets/js/imagesloaded.js}"></script>
	<script th:src="@{/assets/js/custom.js}"></script>

</body>

</html>