<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<!-- Brands Section-->
	<section class="py-6 brands">
		<div class="container">
			<h4 class="text-uppercase text-center mb-5">Our brands</h4>
			<!-- Brands Slider-->
			<div class="owl-carousel owl-theme brands-slider">
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-1.svg"
							alt="Brand 1"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-2.svg"
							alt="Brand 2"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-3.svg"
							alt="Brand 3"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-4.svg"
							alt="Brand 4"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-5.svg"
							alt="Brand 5"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-6.svg"
							alt="Brand 6"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-1.svg"
							alt="Brand 1"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-2.svg"
							alt="Brand 2"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-3.svg"
							alt="Brand 3"></div>
				</div>
				<!-- item-->
				<div class="item d-flex align-items-center justify-content-center">
					<div class="w-6rem"><img class="img-fluid"
							th:src="https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/brand/brand-4.svg"
							alt="Brand 4"></div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>