<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<footer class="main-footer" th:fragment="footer">
		<!-- Main block - menus, subscribe form-->
		<div class="py-3 bg-white text-muted">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 mb-5 mb-lg-0">
						<div class="fw-bold text-uppercase text-lg text-dark mb-3">P2TS<span
								class="text-primary">.</span></div>
								<div class="fw-light text-dark mb-0">
								<p class="footer-p text-muted text-primary-hover text-md-start">Hotline 1: 19001568</p>
								<p class="footer-p text-muted text-primary-hover text-md-start">Hotline 2: 090 488 6095</p>
								<p class="footer-p text-muted text-primary-hover text-md-start">Email: cskh@p2ts.vn</p>
								<p class="footer-p text-muted text-primary-hover text-md-start">08h00 - 17h30, thứ 2 - thứ 7</p>
								</div>
					</div>
					<div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
						<h6 class="text-uppercase text-dark mb-3">Khóa học</h6>
						<ul class="list-unstyled">
							<li><a class="text-muted" th:href="@{/shop/women}">Luyện thi Toán THPT Lớp 12</a></li>
							<li><a class="text-muted" th:href="@{/shop/men}">Luyện thi Đánh Giá Năng Lực</a></li>
							<li><a class="text-muted" th:href="@{/stores}">Luyện thi Tuyển sinh vào Lớp 10 môn Tiếng Anh</a></li>
						</ul>
					</div>
					<div class="col-lg-6">
						<h5 class="text-uppercase text-dark mb-3">P2TS - Hệ Thống Giáo Dục Luyện Thi THPT - Thi Đại Học</h5>
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright section of the footer-->
		<div class="py-0 fw-light bg-gray-footer text-gray-300">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-10 text-center text-md-start">
						<p class="footer-p text-md-start">&copy; Trung tâm đào tạo trực tuyến P2TS - 01 Võ Văn Ngân, Linh Chiểu, tp Thủ Đức.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>