<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Online Course</title>

<!-- Google fonts-->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">

<!-- CSS files -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/style.default.7acfaf01.css}">
<link rel="stylesheet" th:href="@{/assets/css/custom.0a822280.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/templatemo-space-dynamic.css}">

</head>
<header>
	<!-- SVG Sprite -->
	<div th:insert="~{fragments/svg-sprite :: svg-sprite}"></div>

	<!-- ***** Preloader Start ***** -->
	<div id="js-preloader" class="js-preloader">
		<div class="preloader-inner">
			<span class="dot"></span>
			<div class="dots">
				<span></span> <span></span> <span></span>
			</div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<div th:insert="~{decorators/headers :: header}"></div>
	<!-- ***** Header Area End ***** -->
	<!-- Fullscreen search area-->
	<div class="search-area-wrapper">
		<div
			class="search-area d-flex align-items-center justify-content-center">
			<div class="close-btn">
				<svg class="svg-icon svg-icon-light w-3rem h-3rem">
              <use xlink:href="#close-1"> </use>
            </svg>
			</div>
			<form class="search-area-form" action="#">
				<div class="mb-4 position-relative">
					<input class="search-area-input" type="search" name="search"
						id="search" placeholder="What are you looking for?">
					<button class="search-area-button" type="submit">
						<svg class="svg-icon">
                  <use xlink:href="#search-1"> </use>
                </svg>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- /Fullscreen search area-->
</header>
<section class="product-details py-8">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 py-3 order-2 order-lg-1">
				<div class="owl-carousel owl-theme owl-dots-modern detail-full"
					data-slider-id="1">
					<div class="detail-full-item"
						style="background: center center url(https://d19m59y37dris4.cloudfront.net/sell/2-0-1/img/photo/kyle-loftus-596319-detail-1.jpg) no-repeat; background-size: cover;"></div>
				</div>
			</div>
			<div
				class="align-items-start col-lg-6 col-xl-5 ps-lg-5 mb-5 order-1 order-lg-2">
				<div>
					<ul class="breadcrumb justify-content-start">
						<li class="breadcrumb-item"><a href="home">Trang chủ</a></li>
						<li class="breadcrumb-item"><a href="categories">Toàn bộ
								sản phẩm</a></li>
						<li class="breadcrumb-item active">Áo khoác</li>
					</ul>
					<h3 class="mb-4">Áo Thun</h3>
					<div
						class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
						<ul class="list-inline mb-2 mb-sm-0">
							<li class="list-inline-item h4 fw-light mb-0">165.000</li>
							<li class="list-inline-item text-muted fw-light"><del>290.000</del>
							</li>
						</ul>
					</div>

					<form action="#">
						<div class="row mb-3">
							<div class="col-sm-6 detail-option">
								<h6 class="detail-option-heading">
									Size <span>(*)</span>
								</h6>
								<label
									class="btn btn-sm btn-outline-secondary detail-option-btn-label"
									for="size_0"> S <input class="input-invisible"
									type="radio" name="size" value="value_0" id="size_0" required>
								</label> <label
									class="btn btn-sm btn-outline-secondary detail-option-btn-label"
									for="size_1"> M <input class="input-invisible"
									type="radio" name="size" value="value_1" id="size_1" required>
								</label> <label
									class="btn btn-sm btn-outline-secondary detail-option-btn-label"
									for="size_2"> L <input class="input-invisible"
									type="radio" name="size" value="value_2" id="size_2" required>
								</label> <label
									class="btn btn-sm btn-outline-secondary detail-option-btn-label"
									for="size_3"> XL <input class="input-invisible"
									type="radio" name="size" value="value_3" id="size_3" required>
								</label>
							</div>
							<div class="col-sm-6 detail-option">
								<h6 class="detail-option-heading">
									Màu sắc <span>(*)</span>
								</h6>
								<ul class="list-inline mb-0 colours-wrapper">
									<li class="list-inline-item"><label class="btn-colour"
										for="colour_Blue" style="background-color: #668cb9"> </label>
										<input class="input-invisible" type="radio" name="colour"
										value="value_Blue" id="colour_Blue" required></li>
									<li class="list-inline-item"><label class="btn-colour"
										for="colour_White" style="background-color: #fff"> </label> <input
										class="input-invisible" type="radio" name="colour"
										value="value_White" id="colour_White" required></li>
									<li class="list-inline-item"><label class="btn-colour"
										for="colour_Violet" style="background-color: #8b6ea4">
									</label> <input class="input-invisible" type="radio" name="colour"
										value="value_Violet" id="colour_Violet" required></li>
									<li class="list-inline-item"><label class="btn-colour"
										for="colour_Red" style="background-color: #dd6265"> </label> <input
										class="input-invisible" type="radio" name="colour"
										value="value_Red" id="colour_Red" required></li>
								</ul>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-sm-6 detail-option">
								<label class="detail-option-heading fw-bold">Sản phẩm <span>(*)</span></label>
								<div class="d-flex align-items-center">
									<input class="form-control detail-quantity" name="items"
										type="number" value="1">
									<!-- Số lượng hàng có sẵn -->
									<span class="available-stock ms-2">Kho: <strong>20</strong></span>
								</div>
							</div>
							<div class="col-sm-6 detail-option">
								<ul class="list-inline">
									<li class="list-inline-item">
										<button class="btn btn-dark mb-1 my-4" type="submit">
											<i class="fa fa-shopping-cart me-2"></i>Thêm vào giỏ hàng
										</button>
									</li>
								</ul>
							</div>
						</div>
					</form>
					<div class="mt-2">
						<h6 class="detail-option-heading">Mô tả sản phẩm</h6>
						<p class="text-muted my-2">1. Kiểu sản phẩm: Áo thun trơn tay
							ngắn</p>
						<p class="text-muted my-2">2. Co giãn tốt, chống co rút tốt,
							giữ form sau nhiều lần sử dụng, thấm hút và thoát mồ hôi tốt</p>
						<p class="text-muted my-2">3. Chất liệu: 100% cotton</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mt-5">
	<div class="container">
		<ul class="nav nav-tabs flex-column flex-sm-row" role="tablist">
			<li class="nav-item"><a class="nav-link detail-nav-link"
				data-bs-toggle="tab" role="tab"></a></li>
		</ul>
		<div class="tab-content py-4">
			<div class="tab-pane" id="additional-information" role="tabpanel"></div>
		</div>
	</div>
</section>



<section class="my-5">
	<div class="container">
		<h6 class="text-uppercase mb-5">Sản phẩm tương tự</h6>
	</div>
</section>
<!-- ***** Footer Area Start ***** -->
<div th:insert="~{decorators/footers :: footer}"></div>
<!-- ***** Footer Area End ***** -->

<!-- Scripts -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/owl-carousel.js}"></script>
<script th:src="@{/assets/js/animation.js}"></script>
<script th:src="@{/assets/js/imagesloaded.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>

</body>

</html>