<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Online Course</title>

<!-- Google fonts-->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}"
	integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2Lw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- CSS files -->
<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/style.default.7acfaf01.css}">
<link rel="stylesheet" th:href="@{/assets/css/custom.0a822280.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/templatemo-space-dynamic.css}">

</head>


<body>
	<!-- ***** Header Area Start ***** -->
	<div th:insert="~{decorators/headers :: header}"></div>
	<!-- ***** Header Area End ***** -->
		<!-- Hero Section-->
		<section class="hero">
			<div class="container">
				<!-- Breadcrumbs -->
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="${pageContext.request.contextPath}/user/home">Trang chủ</a>
					</li>
					<li class="breadcrumb-item active"><a href="${pageContext.request.contextPath}/user/cart">Giỏ
							hàng</a></li>
				</ol>
				<!-- Hero Content-->
				<div class="hero-content pb-5 text-center">
					<h1 class="hero-heading">Chi tiết giỏ hàng</h1>
					<div class="row">
						<div class="col-xl-8 offset-xl-2">
							<p class="lead text-muted">Bạn đang có ${cartItems.size() > 0 ? cartItems.size() : "0"} sản
								phẩm trong giỏ hàng</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shopping Cart Section-->
		<section>
			<div class="container">
				<div class="row mb-5">
					<div class="col-lg-8">
						<div class="cart">
							<div class="cart-wrapper">
								<div class="cart-header text-center">
									<div class="row">
										<div class="col-5">sản phẩm</div>
										<div class="col-2">Giá</div>
										<div class="col-2">Sổ lượng</div>
										<div class="col-2">Tổng</div>
										<div class="col-1"></div>
									</div>
								</div>
								<div class="cart-body">
									<c:if test="${cartItems.size() == 0}">
										<div class="cart-item text-center">
											<p class="text-muted">Giỏ hàng của bạn hiện đang trống!</p>
										</div>
									</c:if>
									<!-- Product-->
									<div class="cart-item">
										<c:forEach items="${cartItems}" var="item">

											<div class="row d-flex align-items-center text-center">
												<div class="col-5">
													<div class="d-flex align-items-center"><a
															href="${pageContext.request.contextPath}/user/categoryDetail?productCode=${item.productCode}">
															<img class="cart-item-img" src="${item.image}"
																alt="${item.productName}"></a>
														<div class="cart-title text-start"><a
																class="text-uppercase text-dark"
																href="${pageContext.request.contextPath}/user/categoryDetail?productCode=${item.productCode}">
																<strong>${item.productName}</strong>
															</a><br><span class="text-muted text-sm">Size:
																${item.size}</span><br>
															<span class="text-muted text-sm">Colour: ${item.color
																}</span>
														</div>
													</div>
												</div>
												<div class="col-2">${item.priceFormatted}</div>
												<div class="col-2">
													<div class="d-flex align-items-center">
														<%-- <a
															href="${pageContext.request.contextPath}/user/cart/?action=remove&productCode=${item.productCode}&size=${item.size }&quantityChange=-1"
															class="btn btn-items btn-items-decrease">
															<c:if test="${item.quantity <= 1}">style="pointer-events:
																none; opacity: 0.5;"</c:if>-</a> --%>

															<input class="form-control text-center input-items"
																type="text" value="${item.quantity}" readonly>
															<%-- <a
																href="${pageContext.request.contextPath}/user/cart?action=add&productCode=${item.productCode}&size=${item.size}&quantityChange=1"
																class="btn btn-items btn-items-increase" <c:if
																test="${item.quantity >= item.stockQuantity}">style="pointer-events:
																none; opacity: 0.5;"</c:if>>+</a> --%>
													</div>
												</div>
												<div class="col-2 text-center">${item.totalPriceFormatted}</div>
												<div class="col-1 text-center">
													<form action="${pageContext.request.contextPath}/user/cart"
														method="POST">
														<input type="hidden" name="action" value="delete">
														<input type="hidden" name="productCode"
															value="${item.productCode}">
														<input type="hidden" name="size" value="${item.size}">
														<input type="hidden" name="quantity" value="${item.quantity}">
														<button type="submit" class="cart-remove btn btn-link">
															<i class="fa fa-times"></i>
														</button>
													</form>
												</div>
											</div>
										</c:forEach>
									</div>
									<!-- Product-->

								</div>
							</div>
						</div>
						<div class="my-5 d-flex justify-content-between flex-column flex-lg-row"><a
								class="btn btn-link text-muted"
								href="${pageContext.request.contextPath}/user/categories"><i
									class="fa fa-chevron-left"></i>Tiếp tục mua sắm</a><a class="btn btn-dark"
								href="${pageContext.request.contextPath}/user/checkoutAddress">Tiến hành thanh toán<i
									class="fa fa-chevron-right"></i> </a></div>
					</div>
					<div class="col-lg-4">
						<div class="block mb-5">
							<div class="block-header">
								<h6 class="text-uppercase mb-0">Tổng tiền đơn hàng dự kiến</h6>
							</div>
							<div class="block-body bg-light pt-1">
								<p class="text-sm">Chi phí vận chuyển và chi phí bổ sung sẽ được tính dựa trên các sản
									phẩm bạn đã chọn.</p>
								<ul class="order-summary mb-0 list-unstyled">
									<li class="order-summary-item"><span>Tổng tiền ước
											tính</span><span>${totalAmountFormatted }</span></li>
									<li class="order-summary-item"><span>Phí vận
											chuyện</span><span>${shippingFormatted}</span></li>
									<li class="order-summary-item"><span>Thuế dịch vụ</span><span>${serviceTaxFormatted
											}</span></li>
									<li class="order-summary-item border-0"><span>Tổng tiền</span><strong
											class="order-summary-total">${finalTotalFormatted }</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- ***** Footer Area Start ***** -->
	<div th:insert="~{decorators/footers :: footer}"></div>
	<!-- ***** Footer Area End ***** -->

	<!-- Scripts -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/wow.min.js}"></script>
	<script th:src="@{/assets/js/owl-carousel.js}"></script>
	<script th:src="@{/assets/js/animation.js}"></script>
	<script th:src="@{/assets/js/imagesloaded.js}"></script>
	<script th:src="@{/assets/js/custom.js}"></script>

</body>

</html>